
.quote-cart {
  width: 300px;
  height: 350px;
  float: right;
  background-color: rgb(35, 216, 50);
  color: white;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 0.75em;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.quote-cart-footer {
    height: 150px;
    background-color: rgb(35, 216, 50);
    color: white;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0.75em;
    float: bottom;
    display: none;
  }

.header-bar {
    height: 110px;
    background-color: rgb(0, 132, 255);
    border-radius: 0.75em;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.header-bar p {
    text-align: center;
    padding-top: 40px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

.configuration-panel {
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 380px;
    background-color: #fe5622;
    border-radius: 0.75em;
    height: 810px;
}

.configuration-panel-animate-right {
    transition: height 0.5s;
    transition: margin-right 1s;
    margin-right: 50px;
    height: 640px;
}

.reset-configuration-panel-animate {
    transition: height 1s;
    transition: margin-right 0.5s;
    height: 810px;
    margin-right: 380px;
}